body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.delete {
    background-color: #ff4d4d;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete:hover {
    background-color: #ff1a1a;
}

#theme-toggle {
    display: flex;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme header {
    background-color: #000;
    color: #fff;
}

.dark-theme button {
    background-color: #000;
    color: #fff;
}

.dark-theme .delete {
    background-color: #ff4d4d;
}

.dark-theme #theme-toggle {
    background-color: #fff;
    color: #333;
}
.dark-theme h1 {
    color: #fff;
}
.dark-theme li{
    color: #000;
}